.rate_wrapper {
    padding: 120px 30px 80px;
    background: $color-white;
    display: flex;
    flex-direction: column;
    // border-radius: 0 0 30px 30px;
    @media  (max-width: $breakpoint-md-min) {
        padding: 100px 10px 80px;
    }
    .cols_wr {
        display: flex;
        width: 100%;
        margin-bottom: 120px;
        .col_1 {
            &--red {
                color: $color-red;
                background: #fff;
                border: 1px solid rgba(49, 49, 49, 0.5);
                @media  (max-width: $breakpoint-md-min) {
                    border: none;
                }
            }
            &--blue {
                color: $color-blue;
                background: #fff;
                border: 1px solid rgba(49, 49, 49, 0.5);
                @media  (max-width: $breakpoint-md-min) {
                    border: none;
                }
                
            }
            &--yellow {
                color: $color-yellow;
                background: #fff;
                border: 1px solid rgba(49, 49, 49, 0.5);
                @media  (max-width: $breakpoint-md-min) {
                    border: none;
                }
            }
        }
        .col_2 {
            .info {
                &--red {
                    background: $color-white;
                    border: 1px solid rgba(49,49,49, .5);
                    color: $color-red;
                }
                &--blue {
                    background: $color-white;
                    border: 1px solid rgba(49,49,49, .5);
                    color: $color-blue;
                }
                &--yellow {
                    background: $color-white;
                    border: 1px solid rgba(49,49,49, .5);
                    color: $color-yellow;
                }

                .rates {
                    .rate {
                        // border: 1px solid rgba(49,49,49, .5);

                        &--yellow {
                            background: $color-yellow;
                            color: $color-white;
                            svg {
                                path {
                                    fill: $color-white;
                                }
                            }
                        }
                        &--red {
                            background: $color-red;
                            color: $color-white;
                            svg {
                                path {
                                    fill: $color-white;
                                    
                                }
                            }
                        }
                        &--blue {
                            background: $color-blue;
                            color: $color-white;
                            svg {
                                path {
                                    fill: $color-white;
                                }
                            }
                        }
                    }
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        @media  (max-width: $breakpoint-xl-min) {
            flex-direction: column;
        }
    }
    

    .col_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 140px;
        margin-right: 15px;
        flex-direction: column;
        border-radius: 20px;
        @media  (max-width: $breakpoint-xl-min) {
            width: 230px;
            height: 120px;
            margin-right: 0;
            margin-bottom: 15px;
        }
        @media  (max-width: $breakpoint-md-min) {
            width: 50%;
            height: 100px;
            background: transparent;
            display: block;
            padding-left: 10px;
            height: auto;
            margin-bottom: 20px;
        }
        .name {
            font-size: 28px;
            font-family: 'Furore';
            margin-bottom: 10px;
            @media  (max-width: $breakpoint-md-min) {
                font-size: 24px;
            }
        }
        .rt {
            font-size: 22px;
            font-family: 'Rubik-Regular';
            @media  (max-width: $breakpoint-md-min) {
                font-size: 16px;
            }
        }
    }
    .col_2  {
        display: flex;
        flex-direction: column;
        width: 80%;
        @media  (max-width: $breakpoint-xl-min) {
            width: 100%;
        }
        .info{
            border-radius: 20px;
            padding: 30px 30px 60px 30px;
            height: auto;
            background: $color-pink;
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            @media  (max-width: $breakpoint-md-min) {
                padding: 20px 10px 20px 10px;
                margin-bottom: 80px;
            }
            .tit {
                font-size: 28px;
                font-family: 'Furore';
                margin-bottom: 30px;
                @media  (max-width: $breakpoint-md-min) {
                    font-size: 24px;
                }
                
            }
    
            .rates {
                display: flex;
                align-items: flex-start;
                @media  (max-width: $breakpoint-md-min) {
                    flex-wrap: wrap;
                }
                .rate {
                    width: 33.333%;
                    height: auto;
                    // background: $color-white;
                    // color: $color-purple;
                    padding: 20px;
                    margin-right: 15px;
                    border-radius: 20px;
                    @media  (max-width: $breakpoint-md-min) {
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 15px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    .name {
                        font-family: 'Rubik-SemiBold';
                        font-size: 20px;
                        margin-bottom: 40px;
                        text-transform: uppercase;
                        @media  (max-width: $breakpoint-md-min) {
                            margin-bottom: 20px;
                            font-size: 18px;
                        }
                    }
                    .option_it {
                        margin-bottom: 30px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        .option_name {
                            font-family: 'Rubik-Medium';
                            font-size: 18px;
                            margin-bottom: 20px;
                            @media  (max-width: $breakpoint-lg-min) {
                                font-size: 16px;
                                margin-bottom: 15px;
                            }
                        }
                        .option {
                            display: flex;
                            align-items: center;
                            font-family: 'Rubik-Regular';
                            font-size: 18px;
                            margin-bottom: 15px;
                            @media  (max-width: $breakpoint-lg-min) {
                                font-size: 16px;
                                margin-bottom: 10px;
                            }
                            svg {
                                width: 26px;
                                margin-right: 10px;
                                // path {
                                //     fill: $color-purple;
                                // }
                                @media  (max-width: $breakpoint-lg-min) {
                                    margin-right: 7px;
                                }
                                
                            }
                        }
                        .price {
                            margin-top: 30px;
                            font-family: 'Rubik-SemiBold';
                            font-size: 20px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}